page-login {
     
    .fullContent{
      background-color: #FFFFB3;
    }
    .loginIcon{
        height: 100px;
        width: 100px;
         display: block;
         margin: 0 auto;
    }  
    .contentListItem{
        background-color: transparent;
    }   
}
