page-reminders {

    .fullContent{
      background-color: #FFFFB3;
    } 
    .panel{
        width: 95%;
       display: block;
     margin-left: auto;
     margin-right: auto;
     background-color: #C7FCB7;
    }
    .calIcon{
        font-size: 25px;
       color: #df5000;
     
    }
    .clockIcon{
       font-size: 25px;  
       color: #005efe;
    }
    .v2 {
    border-left: 2px solid black;
   } 
   .forIcon{
       font-size: 30px;
      margin-top: -10px;
      color: #07B098;
   }
}
