page-exams {

    .fullContent{
      background-color: #FFFFB3;
    } 
     .headingColor{
        background-color: #FFC107;
    }    
    .center {
    margin:auto; 
    display:table;
}
.panel{
        width: 95%;
       display: block;
    margin-left: auto;
     margin-right: auto;
     background-color: transparent;
     border-bottom: 2px solid black;
    }
    
    .v2 {
    border-left: 2px solid black;
    
   } 
}
