page-dailyactivity {

    .fullContent{
      background-color: #FFFFB3;
    } 
     .panel{
        width: 95%;
       display: block;
    margin-left: auto;
     margin-right: auto;
    }
    .panel-heading{
        background-color: #FFC107;
    }
    
}
