page-ptm {

    .fullContent{
      background-color: #FFFFB3;
    } 
    .center {
    margin:auto; 
    display:table;
}

.panel{
        width: 95%;
       display: block;
    margin-left: auto;
     margin-right: auto;
    }
   
    .panel-footer{
         background-color: #BDB9B9;
    }
}
