page-notice {

    .fullContent{
      background-color: #FFFFB3;
    } 
    .headingColor{
        background-color: #FFC107;
    }    
    .center {
    margin:auto; 
    display:table;
}
.panel{
        width: 95%;
       display: block;
    margin-left: auto;
     margin-right: auto;
    }
    .panel-heading{
        background-color: #FFC107;
    }
}
